%h2 Bus Stops
%form{:action => "stop/search", :method => "post"}
  %input{:type => "hidden", :name => "authenticity_token", :value => form_authenticity_token}
  %label{:for => "search"} Search for stop:
  %input{:type => "text", :name => "search"}

#container
  #map{:style => "width: 500px; height: 500px;"}

  %script
    ="var latlng = new google.maps.LatLng(#{session[:latlong][0]}, #{session[:latlong][1]});"
    var myOptions = { zoom: 14, center: latlng, 
    mapTypeId: google.maps.MapTypeId.ROADMAP };
    var map = new google.maps.Map(document.getElementById("map"), 
    myOptions);

  #text
    - @stop_descriptions.each do |sd|
      %script
        ="var tsn#{sd.tsn} = new google.maps.LatLng(#{sd.latitude}, #{sd.longitude});"
        ="var marker#{sd.tsn} = new google.maps.Marker({position: tsn#{sd.tsn}, map: map, title: '#{sd.tsndescription}'});"
        ="google.maps.event.addListener(marker#{sd.tsn}, 'click', function() {"
        ="$.ajax({url: 'stop/show/#{sd.id}', success: function(data){ document.getElementById('text').innerHTML = data;} }); })" 
      %a.stop{:href => show_stop_path(sd.id)}
        %p= sd.tsndescription
        %p
          - sd.stops.each do |stop|
            %span{:style => "color: #{route_colour(stop.routename)};"}= stop.routename


